1.0.1/flow.json
[
    {
        "id": "a26a2c47.37265",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "10739d1c.d51d83",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5a014ed1.c2b8e",
        "type": "express",
        "z": "a26a2c47.37265",
        "name": "",
        "func": "var require = context.global.get('require');\nvar app=msg.app;\n \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 140,
        "wires": [
            [
                "d911d5e.ea60528"
            ]
        ]
    },
    {
        "id": "d911d5e.ea60528",
        "type": "function",
        "z": "a26a2c47.37265",
        "name": "",
        "func": "var require = context.global.get('require'); \n\nreturn msg;",
        "outputs": 1,
        "timeout": 10000,
        "newThread": false,
        "noerr": 0,
        "x": 480,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "84a5cdbb.5f719",
        "type": "function",
        "z": "10739d1c.d51d83",
        "name": "",
        "func": "var require = context.global.get('require'); \n\nreturn msg;",
        "outputs": 1,
        "timeout": 10000,
        "newThread": false,
        "noerr": 0,
        "x": 360,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "cf7f9ab7.838118",
        "type": "python3-function",
        "z": "10739d1c.d51d83",
        "name": "",
        "func": "\nreturn msg",
        "outputs": 1,
        "x": 620,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "175c3eb9.f53c91",
        "type": "console",
        "z": "10739d1c.d51d83",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 860,
        "y": 280,
        "wires": []
    }
]